.profile-container {
	width: 100%;
	margin-right: auto;
	margin-left: 0;
	padding: 20px;
	font-family: Arial, sans-serif;
}

.profile-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 20px;
}

.profile-avatar {
	width: 150px;
	height: 150px;
	border-radius: 50%;
}

.profile-info {
	display: flex;
	flex-grow: 1;
	justify-content: space-between;
	align-items: center;
}

.profile-info h1 {
	margin-left: 20px;
	font-size: 40px;
}

.profile-details {
	margin-right: 100px;
	text-align: left;
	color: #c8c7c7;
	font-size: 20px;
}

.profile-details .description {
	font-size: 16px;
	font-style: italic;
}

.section {
	margin-top: 30px;
}

.section h2 {
	border-bottom: 2px solid #eee;
	padding-bottom: 10px;
}

.project-list {
	display: flex;
	flex-wrap: wrap;
	gap: 15px;
}

.project-card {
	background: #8e8d8d37;
	padding: 15px;
	border-radius: 8px;
	width: 300px;
}

.project-card h3 {
	margin-top: 5px;
	text-align: center;
	width: 100%;
}

.project-card p {
	margin: 3px 0;
	color: #ffffff;
	font-size: 16px;
}

.project-card.completed {
	border: 1px solid #4caf50;
}

.friend-list {
	display: flex;
	flex-wrap: wrap;
	gap: 15px;
}

.friend-card {
	display: flex;
	align-items: center;
	gap: 20px;
	padding: 10px;
	border-radius: 8px;
	margin-bottom: 1px;
	width: 200px;
	font-size: 20px;
}

.friend-avatar {
	width: 50px;
	height: 50px;
	border-radius: 50%;
}

.friend-card.online .friend-avatar {
	border: 2px solid #22c55e;
}

.friend-card.offline .friend-avatar {
	border: 2px solid #bebebe;
}

.friend-card.away .friend-avatar {
	border: 2px solid #f59e0b;
}

.friend-card:hover {
	background: rgba(160, 160, 160, 0.219);
}