.projects-container {
	padding: 20px;
}

.projects-container .in-progress,
.completed{
	display: flex;
	flex-wrap: wrap;
	gap: 5px;
	align-items: flex-start;
}

.project-card {
	padding-top: 20px;
	padding-bottom: 0px;
	border-radius: 8px;
	width: 300px;
	overflow: hidden;
}

.project-card .expandable-content {
	max-height: 0;
	opacity: 0;
	transition: max-height 0.4s cubic-bezier(0.4,0,0.2,1), opacity 0.3s;
}

.project-card.expanded .expandable-content{
	max-height: 500px;
	opacity: 1;
}


.projects-container .project-card:hover{
	background: #8e8d8d93;
}

.projects-container .project-card.completed {
	border: 1px solid #4caf50;
}

.projects-container .project-card h3 {
	margin-top: 5px;
	text-align: center;
	width: 100%;
	font-size: 25px;
}

.projects-container .project-card p {
	margin: 3px 0;
	color: #ffffff;
	font-size: 16px;
	width: 100%;
}

.expandable-div {
	display: flex;
	align-items: center;
}

.arrow-span {
	margin-top: 8px;
	margin-left: 8px;
	font-size: 25px;
}

.expanded {
	max-height: 1000px;
	opacity: 1;
	transition: max-height 0.5s, opacity 0.5s;
}

.collapsed {
	max-height: 0;
	opacity: 0;
	overflow: hidden;
	transition: max-height 0.5s, opacity 0.5s;
}