.sidebar {
	background-color: #333;
	padding: 5px 20px;
	grid-area: sidebar;
	border-right: 1px solid #606060; 
	display: flex;
	flex-direction: column;
}

.sidebar nav {
	display: flex;
	flex-direction: column;
	margin-top: 40px;
	gap: 10px;
}
.sidebar button:focus {
	outline: none;
}

nav button:focus {
	outline: none;
	font-weight: 500;
	color: #ffffff;
	background: #3e3e3e;
}

button,
.settings {
	padding: 10px 15px;
	border: none;
	background-color: #333;
	cursor: pointer;
	text-align: left;
	border-radius: 10px;
	color: #dddcdc;
	font-size: 20px;
	font-weight: 300;
}

nav button:hover,
.settings:hover {
	background-color: #3e3e3e;
	font-weight: 500;
}

.settings {
	margin-top: auto;
	margin-bottom: 10px;
}