@import "tailwindcss";
@config "../tailwind.config.js";

*, *::before, *::after {
	box-sizing: border-box;
}

:root {
  --color-bg: #ffffff;
  --color-side-bg: #272a2b;
  --color-category-bg: #f3f4f6;
  --color-overlay-bg: #ffffff;
  --color-overlay-border: #e5e7eb;
  --color-focus-border: #000000;
  --color-category-gradient-start: #55bcd9;
  --color-category-gradient-end: #41b07c;
  --color-text: #213547;
  --color-category-text: #efcf25;
  --color-owner: rgb(172, 134, 0);
  --color-progressbar-bg: #ffffff;

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color: var(--color-text);
  background-color: var(--color-bg);
  transition: background-color 0.3s, color 0.3s;
}

.dark {
	--color-bg: #171a1d;
	--color-side-bg: #272a2b;
	--color-category-bg: #414141;
	--color-overlay-bg: #1a1a1a;
	--color-overlay-border: #606060;
	--color-focus-border: #ffffff;
	--color-category-gradient-start: #29aec8;
	--color-category-gradient-end: #64c5c1;
	--color-text: rgba(255, 255, 255, 0.87);
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}


h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button:hover {
  border-color: white;
}

button:focus {
  outline: none;
}

button:focus-visible {
  outline: 2px solid var(--owner-color, #007bff);
  outline-offset: 2px;
}
/* 
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */